.conteiner{
    box-shadow: 3px 8px 15px 2px rgba(0, 0, 0, 0.2);
}
.conteiner h1{
    font-size: 4.5rem;
   
    color: rgb(59, 59, 59);
}
.conteiner p{
    font-size: 2.2rem;
    color: rgb(114, 112, 112);
}